<div class="wrapper">
  <div class="portfolio-section section">
    <div class="portfolio-content">
      <div class="portfolio-text">
        <p class="small-paragraph" id="section-portfolio">Discover My Work</p>
        <h1 class="section-title">Portfolio</h1>
      </div>
    </div>
    <div class="portfolio-container" id="keyboard-masters">
      <div class="photo-container">
        <img src="projects/quizme.png" alt="todo-app" />
      </div>
      <div class="project-container">
        <p class="project-name">Personal Project</p>
        <h2 class="project-title">Quiz App</h2>
        <p class="project-description">A GK mcq based quiz app that has 500+ questions on various topics for govt exam prep</p>
        <div class="btn btn-size-1" (click)="onButtonClick('https://quiz-app-20b27.web.app/home')">
            <div class="hover">
        
            </div>
            <span>View Project</span>
        </div>
      </div>
    </div>
    <div class="portfolio-container" id="keyboard-masters">
      <div class="photo-container">
        <img src="projects/contrivsmart.png" alt="todo-app" />
      </div>
      <div class="project-container">
        <p class="project-name">Professional Project</p>
        <h2 class="project-title">ContrivSmart</h2>
        <p class="project-description">
          Designed and developed a modern, responsive landing page for
          ContrivSmart, a business solutions company using Angular. 
        </p>
       
        <div class="btn btn-size-1" (click)="onButtonClick('https://contrivsmart.com/')">
            <div class="hover">
        
            </div>
            <span>View Project</span>
        </div>
      </div>
    </div>
  </div>
</div>
