<div class="wrapper">
  <div class="services-content">
    <div class="services-text">
      <p class="small-paragraph" id="section-services">What I Offer</p>
      <h1 class="section-title">Services</h1>
    </div>
    <div class="service-grid">
      <div class="service-item">
        <h2 class="service-title">Custom Website Development</h2>
        <div class="service-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
          animi. Soluta accusantium cum, molestias ducimus cupiditate autem
          dolor quasi quaerat a culpa optio hic aliquid, itaque esse, nam natus
          quis!
        </div>
      </div>
      <div class="service-item">
        <h2 class="service-title">Modern Blog design</h2>
        <div class="service-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
          perspiciatis impedit amet veniam doloribus unde at! Sint quaerat
          voluptas, consequatur error, quas assumenda nostrum doloremque, soluta
          tempora dolor rem dicta.
        </div>
      </div>
      <div class="service-item">
        <h2 class="service-title">E-Commerce Solutions</h2>
        <div class="service-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
          alias natus, rem dolorum repellendus cumque aliquid? Eligendi minus
          libero, perspiciatis officia adipisci veritatis id nisi provident
          quisquam deleniti, voluptas architecto.
        </div>
      </div>
    </div>
    <app-button [buttonText]="'Contact Me'" [buttonAction]="navigate"></app-button>
  </div>
</div>
