.skill-container{
    display: flex;
    flex-direction: row;
    width: 40rem;
    flex-wrap: wrap;
}
.skill{
    color: white;
    width: 6rem;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px white;
    text-align: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-weight: bolder;
}
.skill:hover{
    transform: scale(1.05);
}